{% extends 'layout.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<section>
    <h2>Register</h2>
    <form method="POST" action="{{ url_for('auth.register') }}">
        {{form.hidden_tag()}}
        <div>
            {{ form.name.label }}
            {{ form.name }}
        </div>
        <div>
            {{ form.email.label }}
            {{ form.email }}                    
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password }}
        </div>
        <div>
            {{ form.confirm_password.label }}
            {{ form.confirm_password }}
        </div>
        
        {{ form.submit }}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        {% endwith %}
    </form>
</section>

{% endblock %}