{% extends 'layout.html' %}

{% block title %}Trenes{% endblock %}

{% block content %}

<section class="bg-black flex-1 px-8 py-8 text-white">

    <div class="max-w-6xl mx-auto">

        <!-- Cabecera -->
        <div class="flex items-center justify-between mb-6">
            <div>
                <h1 class="text-3xl font-extrabold text-orange-500 uppercase">
                    Trenes
                </h1>
                <p class="text-gray-300 text-sm mt-1">
                    Listado de trenes registrados en Valstrax Rail.
                </p>
            </div>

            <div class="flex gap-3">
                <a href="{{ url_for('admin.dashboard') }}"
                   class="bg-gray-700 hover:bg-gray-800 text-white font-bold px-4 py-2 rounded-lg transition">
                    Volver al panel
                </a>

                <a href="{{ url_for('admin.create_tren') }}"
                   class="bg-orange-500 hover:bg-orange-600 text-white font-bold px-4 py-2 rounded-lg transition">
                    Nuevo tren
                </a>
            </div>
        </div>

        <!-- Tabla -->
        <div class="bg-black ">

            <table class="w-full text-left datatable">
                <thead class="bg-orange-500 text-white uppercase text-sm">
                    <tr>
                        <th class="dtr-control"></th>
                        <!-- <th class="px-6 py-4">ID</th> -->
                        <th class="px-6 py-4">Nombre</th>
                        <!-- <th class="px-6 py-4">Código</th> -->
                        <th class="px-6 py-4">Estación actual</th>
                        <th class="px-6 py-4">Estado</th>
                        <th class="px-6 py-4">Creado</th>
                        <th class="px-6 py-4">Actualizado</th>
                        <th class="px-6 py-4 text-center">Vagones</th>
                        <th class="px-6 py-4 text-center">Act/Des</th>
                        <th class="px-6 py-4 text-center">Editar</th>
                    </tr>
                </thead>

                <tbody>
                    {% for tren in trenes %}
                        <tr class="border-b border-orange-800 hover:bg-gray-900 transition">

                            <td class="dtr-control"></td>

                            <!-- <td class="px-6 py-4">
                                {{ tren.id }}
                            </td> -->

                            <td class="px-6 py-4 font-semibold">
                                <p class="font-semibold text-white">
                                    {{ tren.nombre }}
                                </p>
                                <p class="text-gray-400 text-xs mt-1">
                                    {{ tren.codigo }}
                                </p>
                            </td>

                            <!-- <td class="px-6 py-4 text-gray-300">
                                {{ tren.codigo }}
                            </td> -->
                            <td class="px-6 py-4">
                            {% if tren.estacion_actual_nombre %}
                                <div>
                                    <p class="text-white font-semibold">
                                        {{ tren.estacion_actual_nombre }}
                                    </p>
                                    <p class="text-gray-400 text-xs">
                                        {{ tren.estacion_actual_ciudad }}
                                    </p>
                                </div>
                            {% else %}
                                <span class="text-gray-500 font-semibold">
                                    Sin asignar
                                </span>
                            {% endif %}
                        </td>

                            <td class="px-6 py-4">
                                {% if tren.estado_tren == "activo" %}
                                    <div class="flex items-center gap-2">
                                        <span class="w-3 h-3 bg-green-500 rounded-full"></span>
                                        <span class="text-green-400 font-semibold">Activo</span>
                                    </div>
                                {% else %}
                                    <div class="flex items-center gap-2">
                                        <span class="w-3 h-3 bg-red-500 rounded-full"></span>
                                        <span class="text-red-400 font-semibold">Inactivo</span>
                                    </div>
                                {% endif %}
                            </td>

                            <td class="px-6 py-4 text-gray-300">
                                {{ tren.created_at.strftime('%d-%m-%Y') }}
                            </td>

                            <td class="px-6 py-4 text-gray-300">
                                {{ tren.updated_at.strftime('%d/%m/%Y %H:%M:%S') }}
                            </td>
                            <td class="px-6 py-4 text-center whitespace-nowrap">
                                <a href="{{ url_for('admin.vagones_tren', tren_id=tren.id) }}"
                                class="bg-blue-600 hover:bg-blue-700 text-white px-3 py-1 rounded text-sm font-semibold transition">
                                    Ver vagones
                                </a>
                            </td>
                            <td class="px-6 py-4 text-center">
                                <form method="POST" action="{{ url_for('admin.toggle_tren_estado', tren_id=tren.id) }}">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                                    <button type="submit"
                                        class="{% if tren.estado_tren == 'activo' %}
                                            bg-red-600 hover:bg-red-700
                                        {% else %}
                                            bg-green-600 hover:bg-green-700
                                        {% endif %}
                                        text-white px-3 py-1 rounded text-sm font-semibold transition">

                                        {% if tren.estado_tren == "activo" %}
                                            Desactivar
                                        {% else %}
                                            Activar
                                        {% endif %}
                                    </button>
                                </form>
                            </td>

                            <td class="px-6 py-4 text-center">
                                <a href="{{ url_for('admin.edit_tren', tren_id=tren.id) }}"
                                   class="bg-orange-500 hover:bg-orange-600 text-white px-3 py-1 rounded text-sm font-semibold transition">
                                    Editar
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10" class="px-6 py-6 text-center text-gray-400">
                                No hay trenes registrados.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

</section>

{% endblock %}


